<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>
  <script type="text/javascript">
    function TodoCtrl($scope) {
        $scope.total = function () {
            return $scope.number1 + $scope.number2;
        };

    }
    
</script>
<body>




<div ng-app>  
        <input ng-model="first"  placeholder="First number"  type="text" />
        <input ng-model="second" placeholder="Second number" type="text" />
        <p>operateur: <select name="operateur" id="operateur"  ng-model="operateur"><option>+</option><option>-</option><option>X</option></select></p>
        <h1> Sum: {{first--second}}! </h1>
      </div>



</div>
</body>
</html>