<!DOCTYPE html>
<html>
                <head>
 
<meta charset="utf-8" />
                             
<title>Exercice 06</title>
<meta name="description" content="Description de la page">
                
</head>required
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
<script type="text/javascript" ng:autobind
        src="http://code.angularjs.org/0.9.19/angular-0.9.19.js"></script>
<body>

<form ng-app="myApp" ng-controller="validateCtrl" 
name="myForm" novalidate>

<p>Prénom:<br>
<input type="text" name="prenom" ng-model="prenom" required>
<span style="color:red" ng-show="myForm.prenom.$dirty && myForm.prenom.$invalid">
<span ng-show="myForm.prenom.$error.required">veuillez entrer votre prénom.</span>
</span>
</p>

<p>Nom:<br>
<input type="text" name="nom" ng-model="nom" required>
<span style="color:red" ng-show="myForm.nom.$dirty && myForm.nom.$invalid">
<span ng-show="myForm.nom.$error.required">veuillez entrer votre nom.</span>
 </span>
 </p>

<p>Email:<br>
<input type="email" name="email" ng-model="email" required>
<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">veuillez rentrez votre e-mail.</span>
<span ng-show="myForm.email.$error.email">adresse e-mail invalide.</span>
</span>
</p>

<p>téléphone:<br>
<input type="text" name="tel" ng-model="tel" required tel>
<span style="color:red" ng-show="myForm.tel.$dirty && myForm.tel.$invalid">
<span ng-show="myForm.tel.$error.required">veuillez entrer votre numéro de téléphone.</span>
</span>
</p>

<div ng:controller="PasswordController">
                <p>Mot-de-passe:</p>
                <input type="password" name="password" placeholder="entrez le Mot-de-passe" ng-model="Password" />
                <span class="strength" ng:class="strength">Ce  Mot-de-passe est {{strength}} !</span><br />
                <input type="checkbox" name="showPwd"> Montrer le Mot-de-passe:
                <span ng:show="showPwd">{{password}}</span>

           
                <p>Confirmez le Mot-de-passe:</p>
                <input type="password" name="confirmPassword" 
                ng-model="Password"/>
                <span style="color:red" ng-show="myForm.confirmPassword =! myForm.Password">
                 <span ng-show="myForm.confirmPassword.$error.required">Incorrect.</span>
                     





<p>
<input type="submit"
ng-disabled="myForm.email.$invalid">
</p>

</form>

<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.prenom = 'jean michel';
    $scope.nom = 'lizarazu'
    $scope.email = 'toto@wanadoo.com';
    $scope.tel = '0600000000';
    $scope.Password='';
    $scope.confirmPassword='';
});

var SERVICE_URL = 'http://angularjs.org/generatePassword.php' + '?callback=JSON_CALLBACK';


function PasswordController($xhr) {


    this.$watch('password', function() {
        if (angular.isDefined(this.password)) {
            if (this.password.length > 8) {
                this.strength = 'fort';
            } else if (this.password.length > 3) {
                this.strength = 'moyen';
            } else {
                this.strength = 'faible';
            }
        }
    });




}



</script>
</html>
